# Node
web/node_modules/

# Android/Gradle
mobile/.gradle/
mobile/build/
mobile/app/build/
mobile/local.properties
mobile/captures/
mobile/.externalNativeBuild/
mobile/.cxx/

# IDE
mobile/.idea/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
