<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlamSched"
        android:usesCleartextTraffic="true">

        <!-- Splash screen — app entry point -->
        <activity
            android:name=".features.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.GlamSched.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".features.auth.RegisterActivity" />
        <activity android:name=".features.auth.LoginSuccessActivity" />
        <activity android:name=".features.dashboard.DashboardActivity" />
        <activity android:name=".features.dashboard.ClientDashboardActivity" />
        <activity android:name=".features.dashboard.ArtistDashboardActivity" />
        <activity android:name=".features.dashboard.AddServiceActivity" />
        <activity android:name=".features.dashboard.PaymentHistoryActivity" />
        <activity android:name=".features.dashboard.AboutGlamSchedActivity" />
        <activity android:name=".features.dashboard.PrivacyPolicyActivity" />
        <activity android:name=".features.dashboard.TermsOfServiceActivity" />
        <activity android:name=".features.booking.ArtistProfileActivity" />
        <activity android:name=".features.booking.SelectDateActivity" />
        <activity android:name=".features.booking.SelectTimeActivity" />
        <activity android:name=".features.booking.AdditionalNotesActivity" />
        <activity android:name=".features.booking.BookingConfirmationActivity" />
        <activity android:name=".features.booking.BookingActivity" />
        <activity android:name=".features.user.UserProfileActivity" />

    </application>
</manifest>
